@import "./variables";



.historia{
    background-color: #1B5773;
    padding-top: 80px;
    &__titulo{
      color: $colorblanco;
        font-weight: bold;
        font-size: $titulo;
        font-family: 'poppins', sans-serif;
      }
    &__parrafo{
        font-size: 16px;
        letter-spacing: 1px;
        text-align: left;
        color: $colorblanco;
    }
  }

.videos {
  background-color: #1B5773;
  padding-bottom: 80px;
  &__titulo{
    font-weight: 400;
    padding-bottom: 40px;
  }
}



  
 





