@import url("./_variables.scss");

body{
  background-color: $colorFondo;
}

.historia{
    padding-top: 80px;
    padding-bottom: 80px;
    &__titulo{
      color: $colorTexto;
      font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 42px;
      }
    &__parrafo{
        font-size: 16px;
        letter-spacing: 0.5px;
        color: $colorTexto;
    }
    &__pieFoto{
      font-size: 14px;
      letter-spacing: 0.5px;
      color: $colorTexto;
    }
    &__img{
      background-size:cover;
      background-repeat: no-repeat;
      margin-bottom:60px;
    }
  }



  @media (max-width: 768px){
    .elaboracion{
      justify-content: center;
    }
  }

  
 





