@import url("./_variables.scss");

body{
  background-color: $colorFondo;
}

.planet{
    padding-top: 80px;
    padding-bottom: 80px;
    &__titulo {
      color: $colorTexto;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      font-size: 42px;
    }
    &__parrafo{
      margin-bottom: 40px;
      letter-spacing: 0.5px;
      color: $colorTexto;
    }
}

  

