@import url("./_variables.scss");







/**HOME MASTER**/

.absolute-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  height: 100%;
  width: 100%;

  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}


.home-mast {
  height: 50vh;

  &__container {
    display: flex;
    height: 100%;

    & > * {
      position: relative;
      flex-grow: 1;
      padding: 1em;
    }
  }
}















.productos{
    background-color: $colorFondo;
    font-family: 'Montserrat', sans-serif;
    padding-top: 80px;
    padding-bottom: 80px;
    &__titulo {
    color: $colorTexto;
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 40px;
    }
    &__subtitulo{
      color: $colorTexto;
      font-weight: bold;
      font-size: 22px;
    }
}


.galeria {
  display: flex;
  flex-direction: column;
  &__row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  }
    
}


.card {
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  &-body {
    flex: 1 1 auto;
    min-height: 1px;
  }
}

.galeria__card {
  margin: 2%;
}







@media only screen and (max-width: 425px) {
  .home-mast {
      display: none;
  }
}

@media only screen and (max-width: 768px) {
.galeria__row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
}
}

@media (min-width: 992px){
.galeria {
    flex: 0 0 100%;
    max-width: 100%;
}
}

@media only screen and (max-width: 768px) {
.galeria {
    margin-top: 5%;
    text-align: center;
}
}