@import "./variables";


.fondo{
    background-color: #1B5773;
}


.productos{
    padding-top: 80px;
    &__titulo {
    color: $colorblanco;
    font-weight: bold;
    font-size: $titulo;
    margin-bottom: 80px;
    }
}


.proceso{
    margin-top: 150px;
    padding-bottom: 100px;
    &__titulo {
    font-size: $titulo;
    font-family: 'poppins' sans-serif;
    color: $colorblanco;
    }
    &__parrafo{
        font-size:18px;
        letter-spacing: 1px;
        -webkit-animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
                animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }
    
}




@-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }


  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }



  .galeria {
    display: flex;
    flex-direction: column;
    &__row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
    
}




.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
}

.galeria__card {
  margin: 2%;
}





@media only screen and (max-width: 768px) {
.galeria__row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
}
}

@media (min-width: 992px){
.galeria {
    flex: 0 0 100%;
    max-width: 100%;
}
}

@media only screen and (max-width: 768px) {
.galeria {
    margin-top: 5%;
    text-align: center;
}
}